@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url(fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
header{
    position:relative;
    text-align: center;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 4px rgb(49, 49, 49);
    color: white;
}

h2{
    font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    color: gray;
}h3{
    font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
    padding-bottom: 30px;
    padding-left: 30px;
}


p{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    color: gray;
    line-height: 1.6;
    font-size: 0.9em;
}

#p1{
    padding-bottom: 20px;
}

em{
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: orange;
}

.article{
    display: flex;
    flex-wrap: nowrap;
    text-align: justify;
    /*justify-content: space-around;*/
    padding-right: 50px;
    padding-left: 80px;
    padding-bottom: 60px;
    padding-top: 40px;

}

#ceo{
    padding-left: 30px;
    /*margin-top: 30px;*/
}

nav{/*padding alterou o posicionamento do h1*/
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    text-align: center;
    margin:auto;
    border-top: solid;
    border-width: 2px;
    border-color: rgb(167, 164, 164);
    width: 220px;
    /*margin-top: 25px;*/
}

#time{
    position: relative;
    text-align: center;
    padding-bottom: 60px;
}

.ambiente{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    gap: 50px;
    /*padding-left: 80px;*/
}


.descricao{
    /*display: flex;*/
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;

}

.titulo{
    position: relative;
    font-size: 12px;
    text-align: center;
}


#vagastitulo{
    position: relative;
    font-size: 14px;
    text-align: center;
}

#imagem{
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}

.equipe{
    background-color: rgb(247, 247, 247);
}

a{
    color: darkcyan;
    font-family: 'Montserrat-bold',Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    color: none;
}

ul{
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 30px;
}

li{
    line-height: 2.5;
}

.item{
    text-align: right;
    font-family: 'Montserrat-bold',Arial, Helvetica, sans-serif;
    color: gray;
}