@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url(fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
header{
    position:relative;
    text-align: center;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 4px rgb(49, 49, 49);
    color: white;
}

h2{
    font-family: 'Montserrat-bold', Arial, Helvetica, sans-serif;
    color: gray;
}
p{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    color: gray;
    line-height: 1.6;
    font-size: 0.9em;
}

em{
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: orange;
}

.article{
    display: flex;
    flex-wrap: nowrap;
    text-align: justify;
    /*justify-content: space-around;*/
    padding-right: 50px;
    padding-left: 80px;
    padding-bottom: 60px;
    padding-top: 40px;

}

#ceo{
    padding-left: 30px;
    /*margin-top: 30px;*/
}

nav{/*padding alterou o posicionamento do h1*/
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Montserrat-bold';
    text-align: center;
    /*border-top: solid;*/
    /*margin-top: 25px;*/
}

#time{
    position: relative;
    text-align: center;
    padding-bottom: 60px;
}

.ambiente{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: justify;
    padding-top: 60px;
    /*padding-left: 80px;*/
}

.item{
    position: relative;
    justify-content: center;
    text-align: center;
}

.equipe{
    background-color: rgb(247, 247, 247);
}